<h1>Listing emisions</h1>

<table>
  <tr>
    <th>Tipoemision</th>
  </tr>

<% @emisions.each do |emision| %>
  <tr>
    <td><%=h emision.tipoEmision %></td>
    <td><%= link_to 'Show', emision %></td>
    <td><%= link_to 'Edit', edit_emision_path(emision) %></td>
    <td><%= link_to 'Destroy', emision, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New emision', new_emision_path %>