<h1>New emision</h1>

<% form_for(@emision) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :tipoEmision %><br />
    <%= f.text_field :tipoEmision %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', emisions_path %>