<h1>New cuentabancaria</h1>

<% form_for(@cuentabancaria) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :numerocuenta %><br />
    <%= f.text_field :numerocuenta %>
  </p>
  <p>
    <%= f.label :proveedor_id %><br />
    <%= f.text_field :proveedor_id %>
  </p>
  <p>
    <%= f.label :tipocuenta_id %><br />
    <%= f.text_field :tipocuenta_id %>
  </p>
  <p>
    <%= f.label :entidadfinanciera_id %><br />
    <%= f.text_field :entidadfinanciera_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', cuentabancarias_path %>