<h1>New solicitante</h1>

<% form_for(@solicitante) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :usuario_id %><br />
    <%= f.text_field :usuario_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', solicitantes_path %>