<h1>Editing rol</h1>

<% form_for(@rol) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :tiporol %><br />
    <%= f.text_field :tiporol %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @rol %> |
<%= link_to 'Back', rols_path %>