<h1>New estado_pedido</h1>

<% form_for(@estado_pedido) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nombrePedido %><br />
    <%= f.text_field :nombrePedido %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', estado_pedidos_path %>