<h1>Listing vigencias</h1>

<table>
  <tr>
    <th>Vigente</th>
  </tr>

<% @vigencias.each do |vigencia| %>
  <tr>
    <td><%=h vigencia.vigente %></td>
    <td><%= link_to 'Show', vigencia %></td>
    <td><%= link_to 'Edit', edit_vigencia_path(vigencia) %></td>
    <td><%= link_to 'Destroy', vigencia, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New vigencia', new_vigencia_path %>