<h1>New vigencia</h1>

<% form_for(@vigencia) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :vigente %><br />
    <%= f.check_box :vigente %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', vigencias_path %>