<h1>New estado_autorizacion</h1>

<% form_for(@estado_autorizacion) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :estado %><br />
    <%= f.text_field :estado %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', estado_autorizacions_path %>