<h1>Editing telefono</h1>

<% form_for(@telefono) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :domicilio %><br />
    <%= f.text_field :domicilio %>
  </p>
  <p>
    <%= f.label :trabajo %><br />
    <%= f.text_field :trabajo %>
  </p>
  <p>
    <%= f.label :movil1 %><br />
    <%= f.text_field :movil1 %>
  </p>
  <p>
    <%= f.label :movil2 %><br />
    <%= f.text_field :movil2 %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @telefono %> |
<%= link_to 'Back', telefonos_path %>