<h1>New gestion</h1>

<% form_for(@gestion) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :anio %><br />
    <%= f.text_field :anio %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', gestions_path %>