<h1>Listing entidadfinancieras</h1>

<table>
  <tr>
    <th>Nombreentidad</th>
  </tr>

<% @entidadfinancieras.each do |entidadfinanciera| %>
  <tr>
    <td><%=h entidadfinanciera.nombreentidad %></td>
    <td><%= link_to 'Show', entidadfinanciera %></td>
    <td><%= link_to 'Edit', edit_entidadfinanciera_path(entidadfinanciera) %></td>
    <td><%= link_to 'Destroy', entidadfinanciera, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New entidadfinanciera', new_entidadfinanciera_path %>