<h1>Listing autorizadors</h1>

<table>
  <tr>
    <th>Usuario</th>
  </tr>

<% @autorizadors.each do |autorizador| %>
  <tr>
    <td><%=h autorizador.usuario_id %></td>
    <td><%= link_to 'Show', autorizador %></td>
    <td><%= link_to 'Edit', edit_autorizador_path(autorizador) %></td>
    <td><%= link_to 'Destroy', autorizador, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New autorizador', new_autorizador_path %>