<h1>Listing proveedors</h1>

<table>
  <tr>
    <th>Nit</th>
    <th>Cuentaban</th>
    <th>Direccion</th>
    <th>Usuario</th>
  </tr>

<% @proveedors.each do |proveedor| %>
  <tr>
    <td><%=h proveedor.nit %></td>
    <td><%=h proveedor.cuentaban %></td>
    <td><%=h proveedor.direccion_id %></td>
    <td><%=h proveedor.usuario_id %></td>
    <td><%= link_to 'Show', proveedor %></td>
    <td><%= link_to 'Edit', edit_proveedor_path(proveedor) %></td>
    <td><%= link_to 'Destroy', proveedor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New proveedor', new_proveedor_path %>