<h1>Registro de Proveedor</h1>

<% form_for(@proveedor) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nit %><br />
    <%= f.text_field :nit %>
  </p>
  <p>
    <%= f.label :Nombre_Proveedor %><br />
    <%= f.text_field :nombreProveedor, :size => 45 %>
  </p>
  <p>
    <%= f.label :direccion_id %><br />
    <%= f.text_field :direccion_id, :size => 45 %>
  </p>
  <p>
    <%= f.label :telefono_id %><br />
    <%= f.text_field :telefono_id, :size => 15 %>
  </p>
  <table border="1">
    <caption>CUENTA(S) BANCARIA(S)</caption>
    <thead>
      <th><%= image_tag "agregar.png"  %> </th>
      <th>NRO</th>
      <th>NUMERO DE CUENTA</th>
      <th>ENTIDAD FINANCIERA</th>
    </thead>
    <tr>
      <td>&nbsp;</td>
      <td>1</td>
      <td><%= text_field :cuentabancaria, :numeroCuenta  %></td>
      <td><%= text_field :cuentabancaria, :entidadfinanciera_id  %> </td>
    </tr>
  </table>
  <p>
    <%= f.submit 'Registrar Proveedor', :confirm => "¿ESTÁ SEGURO DE LOS DATOS?" %>
  </p>
<% end %>

<%= link_to 'Atrás', proveedors_path %>