<h1>Editing ciudad</h1>

<% form_for(@ciudad) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @ciudad %> |
<%= link_to 'Back', ciudads_path %>